<h1>SHOW EMAIL</h1>


<div class="container">
  <div class="card bg-success" style="width: 18rem;">
    <h5 class="card-title text-center ">
    <%= @email.object%>
    </h5>
    <div class="card-body">
      <p class="card-text"><%= @email.body%></p>
    </div>
    "Supprimer" et "Marquer comme non-lu"
  </div>
</div>